<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Predict Owners</title>
</head>
<body>
   <h1>Predict System and Application Owner</h1>
   <form action="/predict" method="post">
       <label for="hostname">Hostname:</label>
       <input type="text" id="hostname" name="hostname"><br><br>
       <label for="ip">IP:</label>
       <input type="text" id="ip" name="ip"><br><br>
       <label for="location">Location:</label>
       <input type="text" id="location" name="location"><br><br>
       <label for="operating_system">Operating System:</label>
       <input type="text" id="operating_system" name="operating_system"><br><br>
       <input type="submit" value="Predict">
   </form>
   {% if system_owner and application_owner %}
       <h2>Predicted System Owner: {{ system_owner }}</h2>
       <h2>Predicted Application Owner: {{ application_owner }}</h2>
   {% endif %}
   <br>
   <a href="/">Back to Upload</a>
</body>
</html>